.like-button {
    width: 21px;
    height: 19px;
    background: url(../../images/likebutton.png) no-repeat center;
    border: none;
    align-self: center;
}

.like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.like-button:active {
    background: url(../../images/likebuttonactive.png) no-repeat center;
    opacity: 100%;
}
