@import url("./_active/like-button_active.css");
.like-button {
    width: 21px;
    height: 19px;
    background: url(../../images/likebutton.png) no-repeat center;
    border: none;
    align-self: center;
}

.like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

