@import url("./__avatar/profile__avatar.css");
@import url("./__info/profile__info.css");
@import url("./__subtitle/profile__subtitle.css");
@import url("./__title/profile__title.css");

.profile {
    display: flex;
    border: 2px green solid;
    align-items: center;
}