.close-btn_images-popup {
  right: -50px;
  top: -45px;
  width: 40px;
  height: 40px;
  left: auto;
}

@media screen and (max-width: 500px) {
  .close-btn_images-popup {
    right: -35px;
    top: -30px;
  }
}
