.profile__edit-image {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/editprofile.png);
  object-fit: contain;
  border: none;
  left: 0px;
  cursor: pointer;
  opacity: 0;
}




