.header {
    max-width: 880px;
    margin: 45px 0px 40px;
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    padding-bottom: 41px;
}

@media screen and (max-width: 1145px) {
    .header {
        margin: 28px -19px 42px;
        padding: 0 27px 32px;
    }
}
