.profile__subtitle {
    font-size: 18px;
    margin: 16px 0 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
    font-weight: 400;
}


@media screen and (max-width: 1145px) {
    .profile__subtitle {
        font-size: 14px;
        margin: 14px 0 0;
    }
}