.profile__title {
    font-size: 42px;
    margin: 0px; 
    padding: 0px;
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 1145px) {
    .profile__title {
        font-size: 22px;
    }
}