.create-button {
  background: url(../../images/createbutton.png) no-repeat center;
    width: 358px;
    height: 50px;
    margin: 15px 0 0;
    border: none;
}

.create-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .create-button {
    background: url(../../images/create2.png) no-repeat center;
    width: 200px;
    height: 40px;
    align-self: center;
  }
}
