.logo {
  background-image: url(../../images/logo.svg);
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 1145px) {
    .logo {
        background-size: 126px 24px;
        background-repeat: no-repeat;
    }
}
