.image-popup__figure {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 75vh;
  max-height: 75vh;
}

@media screen and (max-width: 500px) {
  .image-popup__figure {
    width: 240px;
  }
}
