.close-btn {
    background: url(../../images/closeicon.png) no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin-left: 460px;
}

@media screen and (max-width: 475px) {
    .close-btn {
        width: 26px;
        height: 26px;
        margin-bottom: 14px;
        margin-left: 245px;
    }
}