.profile__info {
    display: flex;
    max-width: 415px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1145px) {
    .profile__info {
        align-items: center;
        flex-direction: column;
    }
}