.photo-grid__title-container {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 282px;
    padding: 25px 15px 28px 21px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}
