.submit-button {
    background: url(../../images/submitbutton.png) no-repeat;
    background-position: center;
    width: 358px;
    height: 50px;
    margin: 15px 0 0;
    border: none;
}

.submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width: 560px) {
    .submit-button {
      background: url(../../images/submitsmall.png) no-repeat;
      background-position: center;
      width: 238px;
      height: 46px;
    }
}
